

.avatar{
border-radius: 25%;
margin-left: 120vh;

}
.header{
height: 100%;
background-color: #603855;
color:antiquewhite;
font-family: 'Franklin Gothic Medium';
}

.project{
    background-color: #8B6881;
    height: 100%;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.2rem;
    
}

.pics{
    width: 100%;
    height: 30%;
    border-radius: 10%;
    
}
.mondrian{
width:60%;
margin-left: 0;


}
.title1{
    color: black;
    font-size: 4rem;
}
.color{
    background-color: #BB9EB5  ;
    
}
#aboutme{
    background-color: #BB9EB5 ;
    height: 100%;
    font-family: 'Franklin Gothic Medium';
}
.list  li{
    font-size: 1.5rem ;
    margin-top: 20px;
}


.social{
    width: 70px;
    height: 70px;
}
#contact{
    font-family: 'Franklin Gothic Medium';
}





